* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 1rem;
}

h1{
  text-align: center;
  margin-bottom: 1rem;
  color: #2EEBAA;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

h2{
    margin-bottom: 0.5rem;
    color: #2EEBAA;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.description {
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
  font-weight: 900;

}

.Python{
  color: #2EEBAA;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.SQL{
  color: #2EEBAA;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.Linux{
color: #2EEBAA;
  font-family: 'inter', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

